/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #000000;
  }

  p {
    color: rgb(210, 141, 240);
  }

  ul {
    color: rgb(246, 254, 0);
  }

  ol {
    color: white;
  }

  h2 {
    color: white;
  }

  ul ul {
    color:rgb(210, 141, 240);
  }

  code {
    color:azure;
  }