/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
@font-face {
  font-family: harryPotterFont;
  src: url(../fonts/HarryPotter-ov4z.ttf);
  letter-spacing: 2px;
}

h1 {
  font-family: harryPotterFont;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #000000;
}

p {
  font-size: 18px;
  color: rgb(210, 141, 240);
  font-family: harryPotterFont;
}

ol {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: white;
  font-family: harryPotterFont;
}

ul ul {
  color: rgb(210, 141, 240);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

code {
  color: azure;
}

img {
  max-width: 60%;
}

h3 {
  color: #fbd500;
}

button {
  width: 20px;
  height: 20px;
}

label {
  font-size: 35px;
  -webkit-text-stroke: 0.5px black;
  color: gold;
  font-family: harryPotterFont;
  letter-spacing: 2px;
}

#output h2{
  color: white;
  font-family: harryPotterFont;
  letter-spacing: 2px;
  line-height: 22px;
}

#output p {
  -webkit-text-stroke: 0.1px white;
  color: goldenrod;
  font-family: harryPotterFont;
  letter-spacing: 2px;
}
